.header{
    height:100px;
    background-color: grey;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-size:x-large;
    padding:30px;
}
